body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.animated {
	background-image: url(/css/images/logo.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin-bottom:60px;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

pre {
	padding: 0;
}

h1 {
	margin-bottom: 0;
}